<style>
    .red {
        background: red;
    }
</style>
<table data-width='<%=@game.width%>' data-height='<%=@game.height%>'>
    <% @game.height.times do |y| %>
        <tr>
            <%
               @game.width.times do |x|
                 clazz = 'white'
                 @positions.each do |p|
                   if p.x == x && p.y == y
                     clazz ='red'
                   end
                 end
            %>
                <td class="<%= clazz %>">
                    <%= x %>x<%= y %>
                </td>
            <%
               end
            %>
        </tr>
    <%
       end
    %>
</table>